/* Make html and body full width and height */
html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background:
    /* top layer */
    url('/background.png') repeat center center,
    /* bottom layer */
    linear-gradient(to bottom, #D1EAFF, #001E37);
  background-size: contain;
  background-blend-mode: normal;
  /* makes sure image is on top of the gradient */


}